{% extends 'ballistic/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layout-wrapper">
    {% include 'include/navbar.html' %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                    <div class="col-xl-12">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Registered Clients Details
                                </h4>
                                <!-- <div class="dt-buttons btn-group">  <button class="btn btn-secondary buttons-copy buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button"><span>Copy</span></button> <button class="btn btn-secondary buttons-print" tabindex="0" aria-controls="datatable-buttons" type="button"><span>Print</span></button> <button class="btn btn-secondary buttons-pdf buttons-html5" tabindex="0" aria-controls="datatable-buttons" type="button"><span>PDF</span></button> </div> -->
                                <p>Our Reference Number : {{ ballistic.ourref }}</p>
                                <p>Your Reference Number: {{ ballistic.yourref }}</p>
                                <p>Police Station: {{ ballistic.station }}</p>
                                <p>Type of Examination: {{ballistic.examination}}</p>
                                <p>Addtion Information / Remarks: {{ballistic.addition}}</p>
                                <p>Receiving Officer : {{ballistic.receicer}}</p>
                                <p>Delivering Officer : {{ballistic.deliver}}</p>
                                <!-- <p>{{ ballistic.id }}</p> -->
                            </div>
                        </div>

                

                            
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">
                                    Form Report {{ballistic}}
                                </h4>
                                <form action="{% url 'ballistic:report' %}" method="POST">
                                    {% csrf_token %}
                                    {{form | crispy}}
                                    <div class="mb-3 text-center">
                                        <input type="hidden" name="case_id" value="{{id}}">
                                        <button class="btn btn-primary btn-block" type="submit"> Create Report 
                                        </button>
                                    </div>
                                </form>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}