{% extends 'clients/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div id="layout-wrapper">
    {% include 'include/navbar.html' %}
    <div class="main-content">
        <div class="page-content">
            <div class="container-fluid">
                <div class="row">
                        <div class="col-xl-8">
                            <div class="card">
                                <div class="card-body">
                                    <h4 class="card-title">
                                        Update PF 180
                                    </h4>
                                    <form action="" method="POST">
                                        {% csrf_token %}
                                        {{form | crispy}}
                                        <div class="mb-3 text-center">
                                            <button class="btn btn-primary btn-block" type="submit"> Update Ballistic
                                            </button>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}