{% extends "registration/base.html" %}
{% load static %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center min-vh-100">
                <div class="w-100 d-block my-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <a href="">
                                            <span><img src="{% static 'assets/images/logo-dark.png' %}" alt=""
                                                    height="26"></span>
                                        </a>
                                        <p class="text-muted mb-0 font-13 mt-3">We've emailed you instructions for setting your password. If they haven't arrived in a few minutes, check your spam folder.</p>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->


                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div> <!-- end .w-100 -->
            </div> <!-- end .d-flex -->
        </div> <!-- end col-->
    </div> <!-- end row -->
</div>
<!-- end container -->
<!-- end page -->
{% endblock %}
