{% extends "registration/base.html" %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-12">
            <div class="d-flex align-items-center min-vh-100">
                <div class="w-100 d-block my-5">
                    <div class="row justify-content-center">
                        <div class="col-md-8 col-lg-5">
                            <div class="card">
                                <div class="card-body">
                                    <div class="text-center mb-4 mt-3">
                                        <a href="">
                                            <span><img src="{% static 'assets/images/logo-dark.png' %}" alt=""
                                                    height="26"></span>
                                        </a>
                                    </div>
                                    <form action="" method="POST" class="p-2">
                                        {% csrf_token %}
                                        {% if form.email.errors %}
                                          {{ form.email.errors }}
                                        {% endif %}
                                        {{form|crispy}}
                                        <div class="mb-3 text-center">
                                            <button class="btn btn-primary btn-block" type="submit">Reset password
                                            </button>
                                        </div>
                                        </form>
                                    <div class="row mt-4">
                                        <div class="col-sm-12 text-center">
                                            <p class="text-muted mb-0">Already have an account? <a
                                                    href="{% url 'login' %}" class="text-danger ml-1"><b>Log In</b></a>
                                            </p>
                                        </div>
                                    </div>
                                </div>
                                <!-- end card-body -->
                            </div>
                            <!-- end card -->


                        </div>
                        <!-- end col -->
                    </div>
                    <!-- end row -->
                </div> <!-- end .w-100 -->
            </div> <!-- end .d-flex -->
        </div> <!-- end col-->
    </div> <!-- end row -->
</div>
<!-- end container -->
<!-- end page -->
{% endblock %}
