{% extends 'registration/base.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}
<div>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <div class="d-flex align-items-center min-vh-100">
                    <div class="w-100 d-block my-5">
                        <div class="row justify-content-center">
                            <div class="col-md-8 col-lg-5">
                                <div class="card">
                                    <div class="card-body">
                                        <div class="text-center mb-4 mt-3">
                                            <a href="{% url '' %}">
                                                <span><img src="{% static 'assets/images/logo-dark.png' %}" alt=""
                                                        height="26"></span>
                                            </a>
                                        </div>
                                        {% if validlink %}
                                        <div class="alert alert-danger" role="alert">
                                            Please enter (and confirm) your new password.
                                        </div>
                                        
                                        <form action="{% url 'login' %}" class="p-2" method="POST">
                                            {% csrf_token %}
                                            {{form|crispy}}
                                            <div class="mb-3 text-center">
                                                <button class="btn btn-primary btn-block" type="submit"> Change my password
                                                </button>
                                            </div>
                                        </form>
                                    </div>
                                    {% else %}
                                    <h1>Password reset failed</h1>
                                    <p>The password reset link was invalid, possibly because it has already been used. Please request a new password reset.</p>
                                    {% endif %}
                                    <!-- end card-body -->
                                </div>
                                <!-- end card -->
                            </div>
                            <!-- end col -->
                        </div>
                        <!-- end row -->
                    </div> <!-- end .w-100 -->
                </div> <!-- end .d-flex -->
            </div> <!-- end col-->
        </div> <!-- end row -->
    </div>
    <!-- end container -->
</div>

{% endblock content %}